body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#company-dropdown {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}
